/*-----------------------FONT */
/*-----------------------FONT */
@import url('https://fonts.googleapis.com/css?family=Skranji:100,200,300,400,500,600,700|Josefin+Sans&display=swap:100,200,300,400,500,600,700');

/*-----------------------SPECIAL MARGINS/HEADINGS/TEXT */

body {
    padding-top: 90px;
    font-family: 'Josefin Sans', sans-serif;
    color: #14213D;
}

.navbar-dark .navbar-brand {
    font-family: 'Skranji', cursive;
    font-size: 2rem;
    color: #FFFFFF;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

.section-heading {
    margin-bottom: 20px;
    font-family: 'Skranji', cursive;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.lead {
    font-size: 1rem;
    text-align: center;
}

/*-----------------------NAVBAR */

.navbar-dark {
    background-color: #FCA311;
}

/*-----------------------SEARCH FILTERS */

#category {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    color: #14213D;
    background-color: #E5E5E5;
    border: transparent;
    text-align-last: center;
}

#locationField {
    margin-bottom: 15px;
    width: 100%;
}

#autocomplete {
    width: 100%;
    height: 40px;
    border-color: #14213D;
    text-align: center;
}

.select-option {
    text-align: center;
}

.btn-primary {
    display: block;
    margin: 0 auto;
    background-color: #14213D;
    color: #FFFFFF;
    border: transparent;
}

.btn-primary:hover {
    background-color: #FCA311;
    color: #FFFFFF;
    border: transparent;
    transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

/*-----------------------MAP */

#map {
    margin-bottom: 20px;
    width: 100%;
    height: 70vh;
    background-color: #14213D;
}


/*-----------------------FOOTER */

footer {
    margin: 0;
    background-color: #FCA311;
    color: #FFFFFF;
}

#footer-info {
    padding: 20px;
    text-align: left;
}

.icon-border a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background: #14213D;
    color: #E5E5E5;
}

.icon-border i:hover {
    background: #E5E5E5;
    color: #14213D;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
} 